*{
    margin: 0;
    padding: 0;
}

.outer-cont{
    display: flex !important;
    flex-direction: column !important;
    /* background-color: linear-gradient(to left top, blue, red);*/
    background: linear-gradient(#e66465, #9198e5);
    align-items: center !important;
    justify-content: center !important;
    height: 100vh !important; 
}

main{
    display: grid !important;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 0px;
}

app-board{
    border: 1px solid rgb(rgb(232, 37, 37), green, blue) solid;
    height: 200px !important;
}

h1{
    text-align: right;
    padding: 20px 0px;
    width: 100%;
    margin-right: 30px;
    color: white !important;
}

button{
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin: 10px;
}

button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

h2{
    font-size: 70px !important;
    font-family: 'Courier New', Courier, monospace;
    color: white !important;
}